@font-face {
  font-family: 'Ginto Normal';
  src: url('./fonts/Ginto-Normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Whitney Book';
  src: url('./fonts/Whitney-Book.otf') format('opentype');
}

:root {
  --background-main: #36393f;
  --background-side: #2f3136;
  --channels-default: #8e9297;
  --header-primary: #ffffff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00aff4;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-floating: #18191c;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --scrollbar-thumb: #202225;
  --scrollbar-track: #2e3338;
  --shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --role-candidate: #d89129;
  --role-green: #61E85D;
  --role-yellow: #EBE263;
  --role-violet: #905DE8;
  --role-red: #F25C5C;
  --interactive-hover: #dcddde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  background-color: var(--background-main);
  color: var(--text-normal);
  height: 100vh;
  font-family: 'Whitney Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  box-shadow: var(--shadow);
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: 'Ginto Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

main {
  height: 100%;
  overflow: hidden;
}

main header {
  padding-left: 0.5rem;
}

main header svg {
  color: rgb(114, 118, 125);
  margin: 0 0.5rem;
}

main .content-container {
  height: calc(100% - 48px - 44px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  line-height: 1.375em;
}

main .content-container::-webkit-scrollbar {
  width: 1rem;
}

main .content-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

main .content-container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  margin-bottom: 0.5rem;
}

main .content-container::-webkit-scrollbar-thumb, main .content-container::-webkit-scrollbar-track {
  border: 0.25rem solid transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0.5rem;
}

main .content-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

@supports (scroll-behavior: smooth) {
  main .content-container {
    scroll-behavior: smooth;
  }
}

@supports (scrollbar-width: thin) {
  main .content-container {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    margin-right: 0.25rem;
    padding-right: 0.25rem;
  }
}

main .search-box {
  margin: 0.5rem 1rem 1.5rem;
  height: 44px;
  background-color: #40444b;
  border-radius: 0.5rem;
}

.post-container {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.125rem 3rem 0.125rem 4.5rem;
}

.post-container:first-child {
  margin-top: 1rem;
}

.post-container:hover {
  background-color: var(--background-message-hover);
}

.post-container::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url('./assets/arthur.png');
  background-size: contain;
  left: 1rem;
  top: 0.25rem;
}

.post-container .post-author {
  display: block;
  font-weight: 600;
}

.post-container .timestamp {
  font-size: 0.75em;
  color: var(--text-muted);
  margin-left: 0.5rem;
}

.post-container a {
  color: var(--text-link);
}

.post-container a:hover {
  text-decoration: underline;
}

.sidebar, .profiles {
  background-color: var(--background-side);
  color: var(--channels-default);
}

.sidebar header {
  padding: 0 1rem;
}

.sidebar .menu-item {
  width: 100%;
  height: 34px;
}

.sidebar li svg {
  width: 20px;
  height: 20px;
  color: var(--text-muted);
  margin-right: 6px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-padding {
  padding: 0.5rem;
}

.profiles article {
  height: 44px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.menu-item.selected {
  background-color: var(--background-modifier-selected);
  color: white;
}

.menu-item:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}

.profiles article .name {
  font-family: 'Whitney Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.profiles article .avatar-container {
  margin-right: 0.75rem;
  position: relative;
}

.profiles article .avatar-container::after {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgb(59, 165, 93);
  border-radius: 50%;
  content: '';
  bottom: -3px;
  right: -3px;
  border: 3px solid var(--background-side);
}

.profiles article .avatar-container img {
  border-radius: 50%;
}

.text-category {
  display: block;
  padding: 1rem 0.5rem 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Ginto Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.profiles header {
  background-color: var(--background-main);
}

.popout-anchor {
  position: relative;
}

.reference-popout {
  width: 300px;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: translateX(-300px);
  background-color: var(--background-floating);
  display: none;
  cursor: default;
  overflow: hidden;
}

.popout-anchor.selected .reference-popout {
  display: block;
}

.popout-anchor.selected .menu-item {
  background-color: var(--background-modifier-selected);
  color: white;
}

.reference-popout .header-bar {
  height: 60px;
  background-color: var(--channels-default);
}

.reference-popout .header-bar.role-candidate {
  background-color: var(--role-candidate);
}

.reference-popout .header-bar.role-green {
  background-color: var(--role-green);
}

.reference-popout .header-bar.role-yellow {
  background-color: var(--role-yellow);
}

.reference-popout .header-bar.role-violet {
  background-color: var(--role-violet);
}

.reference-popout .header-bar.role-red {
  background-color: var(--role-red);
}

.reference-popout .text-category {
  color: var(--header-secondary);
}

.reference-popout-avatar {
  border-radius: 50%;
  margin-right: 0.75rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 6px solid var(--background-floating);
  box-sizing: content-box;
}

.reference-popout-name {
  font-family: 'Ginto Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  padding: 4rem 1rem 1rem;
  color: white;
}

.reference-popout-name .pronouns {
  font-size: 1rem;
  color: var(--channels-default);
}

.contact-container {
  padding-top: 0;
}

.contact-container .text-category:first-child {
  border-top: 1px solid #262729;
}

.contact-container .contact-info {
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.contact-container .roles-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.role-badge {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  background: var(--background-secondary-alt);
  border-radius: 0.25rem;
  height: 22px;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.25rem 0.5rem;
  color: white;
}

.role-badge::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.role-badge.role-candidate::before {
  background-color: var(--role-candidate);
}

.role-badge.role-green::before {
  background-color: var(--role-green);
}

.role-badge.role-yellow::before {
  background-color: var(--role-yellow);
}

.role-badge.role-violet::before {
  background-color: var(--role-violet);
}

.role-badge.role-red::before {
  background-color: var(--role-red);
}

.post-author.role-candidate, .name.role-candidate {
  color: var(--role-candidate);
}

.name.role-green {
  color: var(--role-green);
}

.name.role-yellow {
  color: var(--role-yellow);
}

.name.role-violet {
  color: var(--role-violet);
}

.name.role-red {
  color: var(--role-red);
}

@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  main header {
    display: none;
  }

  .profiles {
    display: none;
  }

  .post-container {
    padding-right: 1rem;
  }
}